.ServiceContainer{
    padding: 90px 0;
}
.ServiceContainer .serviceCard{
    background-color: black;
    color: white;
    padding: 0 10px;
    width: 350px;
}

.ServiceContainer .viewBtn{
    background-color: white;
    padding: 8px 25px;
}
.ServiceContainer .viewBtn .btn2{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.ServiceContainer .subHeader{
    color: rgba(245, 245, 245, 0.695) !important;
}
.btn-disable{
    cursor: not-allowed;
}